@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Jost:ital,wght@0,200;0,300;1,400;1,600;1,800&family=Lato:wght@400;700;900&family=Overpass:wght@200;300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300&family=Prompt:ital,wght@0,300;0,400;0,500;0,700;1,200;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

body {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-image:
        linear-gradient(to right, cornflowerblue 2px, transparent 2px),
        linear-gradient(to top, cornflowerblue 2px, transparent 2px);
    background-size: 120px 120px;
    background-position: center;
}

.container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    padding: 30px 42px;
    margin-bottom: 30px;
    background: radial-gradient(skyblue, cornflowerblue);
    border-radius: 9px;

}

.container>button {
    padding: 4px 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 4px;
    cursor: pointer;
}

.container>button:hover {
    border-color: navy;
}

.display {
    padding: 20px 32px;
    min-height: 320px;
    box-shadow:
        inset 2px 1px 8px rgba(0, 0, 0, 0.1),
        inset -1px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
}

.display ul {
    list-style-type: none;
}

.display ul>li {
    line-height: 20px;
    padding-bottom: 20px;
}

.display p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
}